

body {
    margin: 0;
    font-family: roboto;
    font-weight: 300;
    background-color: #BAC7CA;
}

h1 {
    font-family: 'DM Serif Display';
    text-align: center;
    font-weight: 400;
    font-size: 5.5em;
    color: #424B54;
    margin: 0;
}
header h2 {
    text-align: center;
    margin: 0;
    font-weight: 100;
    font-size: 1.25em;
    letter-spacing: 0.85em;
}
header{
    background-color: white;
    display: flex;
    flex-direction: column;
}

h1 a {
    text-decoration: none;
    color: #424B54;
    transition: 0.3s;
}

nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

nav {
    position: sticky;
    top: 0px;
    background-color: white;
    padding: 2em 0 2em 0;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    font-weight: 300;
    font-size: 1.5em;
    color: #424B54;
    margin: 1.5em 2em 1.5em 2em;
}

header a:hover {
    color: #A53F2B;
    transform: translateX(-1em);
}

button {
    border: none;
    background: none;
    transition: 0.25s;
}

button:hover {
    transform: translateY(-0.1em);
}

.portion h2 {
    display: inline-block;
    flex-basis: 800px;
    font-family: "DM Serif Display";
    text-align: center;
    font-weight: 400;
    font-size: 8em;
    color: #424B54;
    margin: 0 0 0.4em 0;
}

.portion {
    margin: 3em auto 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}
.portion section {
    text-align: center;
    margin: 0 1em ;
    flex-basis: 800px;
    padding: 1em;
}

.portion p {
    margin: 0 auto;
    font-size: 1.5em;
    color: #424B54;
}

.portion li {
    margin: 0 auto;
}

.icon {
    width: 125px;
    height: 125px;
}

#languages {
    color: white;
    letter-spacing: 1em;
    line-height: 5em;
}

.fab {
    transition: 0.3s;
    text-decoration: none;
    font-family: "Roboto";
}
.fab:hover {
    color: #A53F2B;
}

.fas {
    transition: 0.3s;
    text-decoration: none;
    font-family: "Roboto";
}

.fas:hover {
    color: #A53F2B;
}


footer {
    width: 90%;
    height: 100px;
    margin: 6em auto;
}

#contact ul {
    text-align: center;
    list-style-type: none;
    line-height: 4em;
}

#contact li a {
    font-family: "Roboto";
    text-decoration: none;
    color: white;
    margin: 0 auto;
    font-size: 1.5em;
    font-size: 2em;
    font-weight: 100;
}

#contact li a:hover {
    color: #A53F2B;
}

#contactlink {
    transition: 0s;
}